.badan
{
    margin-top: 50px;
    background-color: white;
    padding: 25px;
    overflow: hidden;
}

body

{
    background-image: url(beverage-1842596_1280.jpg);
    background-size: cover;
}